# Sentiment Analysis Demonstration

This is a simple sentiment analysis demonstration from Medium

https://medium.com/analytics-vidhya/simple-sentiment-analysis-python-bf9de2d75d0

## Imports & Downloads

In [2]:
import nltk

In [3]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/olivia/nltk_data...

True

In [5]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

## Read in the data

If you need to download the data, then get it from here: 
https://www.kaggle.com/datasets/arushchillar/disneyland-reviews

In [6]:
data = pd.read_csv('DisneylandReviews.csv', encoding='latin-1')

In [9]:
data.head(5)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [7]:
data.shape

(42656, 6)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42656 entries, 0 to 42655
Data columns (total 6 columns):
Review_ID            42656 non-null int64
Rating               42656 non-null int64
Year_Month           42656 non-null object
Reviewer_Location    42656 non-null object
Review_Text          42656 non-null object
Branch               42656 non-null object
dtypes: int64(2), object(4)
memory usage: 2.0+ MB