# Terraria

In [5]:
import nltk

In [6]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [7]:
data = pd.read_csv('/usr/local/share/data/terraria-dataset.csv')

In [8]:
data.head(5)

,id,app_id,app_name,review_text,review_score,review_votes
0,68092,105600,Terraria,You can be a werewolf riding a unicorn while s...,1,0
1,68093,105600,Terraria,You should by 8 copies of this game and go aro...,1,0
2,68094,105600,Terraria,Introduction,1,1
3,68095,105600,Terraria,"If you have friends, this is a great game to p...",1,1
4,68096,105600,Terraria,A Generic Comparison of Terraria versus Minecr...,1,0

In [9]:
data.shape

(84828, 6)

In [13]:
s = data.groupby('app_name').count()
sorted_df = s.sort_values(by='review_text')
print(sorted_df)

             id  app_id  review_text  review_score  review_votes
app_name
Terraria  84828   84828        84702         84828         84828

In [15]:
data.info

<bound method DataFrame.info of            id  app_id  app_name  \
0       68092  105600  Terraria
1       68093  105600  Terraria
2       68094  105600  Terraria
3       68095  105600  Terraria
4       68096  105600  Terraria
...       ...     ...       ...
84823  152915  105600  Terraria
84824  152916  105600  Terraria
84825  152917  105600  Terraria
84826  152918  105600  Terraria
84827  152919  105600  Terraria

                                             review_text  review_score  \
0      You can be a werewolf riding a unicorn while s...             1
1      You should by 8 copies of this game and go aro...             1
2                                           Introduction             1
3      If you have friends, this is a great game to p...             1
4      A Generic Comparison of Terraria versus Minecr...             1
...                                                  ...           ...
84823                           Great fun love this game             1
84824                                    totally awesome             1
84825  This Game Is A Game Where You Can Start A Newb...             1
84826  By far, one of the greatest games i've played yet             1
84827  This game is awesome. 10 Eye of cthulhu of 10 ...             1

       review_votes
0                 0
1                 0
2                 1
3                 1
4                 0
...             ...
84823             0
84824             0
84825             0
84826             0
84827             0

[84828 rows x 6 columns]>

In [18]:
data = data.astype(str)

In [19]:
analyzer = SentimentIntensityAnalyzer()

In [21]:
body = data.review_text
neg, neu, pos, compound = [],[],[],[]
for review in body:
    res = analyzer.polarity_scores(review)
    neg.append(res['neg'])
    neu.append(res['neu'])
    pos.append(res['pos'])
    compound.append(res['compound'])

In [23]:
data['Negative'] = neg
data['Neutral'] = neu
data['Positive'] = pos
data['Compound'] = compound
data.head(5)

,id,app_id,app_name,review_text,review_score,review_votes,Negative,Neutral,Positive,Compound
0,68092,105600,Terraria,You can be a werewolf riding a unicorn while s...,1,0,0.055,0.883,0.062,-0.2031
1,68093,105600,Terraria,You should by 8 copies of this game and go aro...,1,0,0.151,0.732,0.117,-0.1779
2,68094,105600,Terraria,Introduction,1,1,0.000,1.000,0.000,0.0000
3,68095,105600,Terraria,"If you have friends, this is a great game to p...",1,1,0.059,0.658,0.283,0.9608
4,68096,105600,Terraria,A Generic Comparison of Terraria versus Minecr...,1,0,0.000,1.000,0.000,0.0000

In [ ]:
tags = []
for i in range(len(reviews)):
    winning_val = max(neg[i], pos[i])
    if(winning_val == neg[i]):
        tags.append('Negative')
    else:
        tags.append('Positive')